{% extends 'accounts/base.html' %}

{% block content %}
    <html>
        <head>
            <title>Cryptocurrency Info</title>
        </head>
        <body>
             <h1>Cryptocurrency Info</h1>
             <form method="POST" class="cryptocurrency-form">{% csrf_token %}
                 {{ form.as_p }}
                 <p>
                    Enter date as: "YYYY-MM-DD HH:MM:SS" using military time, or leave blank to enter the current time.
                 </p>
                 <button type="submit" class="btn btn-outline-success">Save</button>
             </form>
        </body>
    </html>
{% endblock %}