{% if customer %}
    <h1>{{ customer.name }}</h1>
    <p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
    <p>{{ customer.phone }}</p>
    <p>{{ customer.street }} {{ customer.city }}, {{ customer.state }} {{ customer.zip }}</p>
    <ul>
        <h1>Stocks</h1>
            <table>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Number of Shares Purchased</th>
                </tr>
                {% for stock in customer.stock_set.all %}
                <tr>
                    <td><a href="{% url 'stock' stock.id %}">{{ stock.symbol }}</a></td>
                    <td>{{ stock.number_of_shares }}</td><br>
                </tr>
                {% endfor %}
            </table>
    </ul>
    <ul>
        <h1>Cryptocurrencies</h1>
            <table>
                <tr>
                    <th>Crypto Symbol</th>
                    <th>Number of Coins Purchased</th>
                </tr>
                {% for crypto in customer.cryptocurrency_set.all %}
                <tr>
                    <td><a href="{% url 'crypto' crypto.id %}">{{ crypto.symbol }}</a></td>
                    <td>{{ crypto.number_of_coins }}</td>
                </tr><br>
                {% endfor %}
            </table>
    </ul>
{% else %}
    <p>No customer found.</p>

{% endif %}