{% if customer %}
    <h1>{{ customer.name }}</h1>
    <p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
    <ul>
        {% for stock in customer.stock_set.all %}
            <li>{{ stock.symbol }}: {{ stock.number_of_shares }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for crypto in customer.cryptocurrency_set.all %}
            <li>{{ crypto.symbol }}: {{ crypto.number_of_coins }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No customer found.</p>

{% endif %}